@tailwind base;
@tailwind components;
@tailwind utilities;

/* አጠቃላይ ፔጁን 100% Full Width የሚያደርግ */
html, body {
  margin: 0 !important;
  padding: 0 !important;
  width: 100% !important;
  max-width: 100% !important;
  overflow-x: hidden;
}
#__nuxt {
  width: 100% !important;
  min-height: 100vh !important;
  margin: 0 !important;
  padding: 0 !important;
  background-color: transparent !important;
}